/* General Body Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #0188CA;
}

main{
    position: relative;
    width: 100%;
}

.info_input{
    width: 100%;
    height: 100px;
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr  1fr 1fr;
    gap: 20px;
}

input[type="submit"] {
    width: auto;

    grid-column:  3 /span 2;
}

.info_input div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr ;
    grid-column: 1 / span 6;
    gap: 20px;
}
select{
    width: 175px;
}

.acti{
    margin: 0 7px;
}
.open{

    position: fixed;
    font-size: 20px;
    left: -1px;
    top: 10px;
    color: #19305C;
    z-index: 10;
}
.close{
    position: fixed;
    font-size: 20px;
    left: 238px;
    top: 10px;
    color: #19305C;
    z-index: 1;
}

.dashboard-container {
    display: flex;
    position: absolute;
}

/* Sidebar */
.sidebar {
    width: 241px;
    background-color: #19305C;
    color: white;
    height: 100vh;
    position: fixed;
    z-index: 1;
    top: 0;
}

.sidebar ul {
    list-style-type: none;
    padding: 10px;
}

.sidebar ul li {
    border: 1px solid;
    border-radius: 10px ;
    width: 80%;
    margin: 10px 0;
    padding: 15px ;
    
}

.sidebar ul  a {
    color: white;
    text-decoration: none;
    
    font-size: 18px;
}

.sidebar ul li:hover {
    background-color: #5483ca;
}

.logaout{
    position: absolute;
    background-color: #034078;
    color: #FEFCFB;
    font-weight: bold;
    border: none;
    width: 100%;
    margin:auto;
    padding: 15px;
    bottom: 0px;
    z-index: 20;
    cursor: pointer;
    left: 0;
}

/* Content Area */
.content {
    flex: 1;
    padding: 20px;
    width: 100%;
}

td, th {
    width: 100px;  /* Définit une largeur fixe pour toutes les colonnes */
    text-align: center;  /* Centre le texte dans les cellules */
    padding: 2px;  /* Optionnel : ajoute de l'espace autour du texte */
    border: 1px solid #ddd;  /* Optionnel : ajoute une bordure aux cellules */
}

/* Table Headers */
th {
    background-color: #f2f2f2;  /* Ajoute une couleur de fond pour les en-têtes */
    font-weight: bold;  /* Met en gras le texte des en-têtes */
}

/* Stat Box */
.stat-box {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 80%;
    width: 96.5%;
    gap: 20px;
}

.stat-box h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

.stat-box p {
    font-size: 26px;
    font-weight: bold;
    color: #2c3e50;
    width: auto;
}

table{
    width: 100%;
}

.Edit{
    position: absolute;
    width: 90%;
    height: 400px;
    left: 35px;
    top: 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.Edit div{
    display: flex;
    flex-wrap: wrap;
    height: 150px;
    gap: 20px;
    width: 100%;
    justify-content: center;
    align-items: center;

}

.Edit .input{
    width: 170px;
    height: 40px;
    border-radius: 10px;
    border: none;
    text-align: center;
}
.Edit select{
    width: 178px;
    height: 40px;
    border-radius: 10px;
    border: none;
    text-align: center;
}

.section_edit{
    position: absolute;
    left: 255px;
    top: 60px;
    width: 60%;
    height: 450px;
    background-color: rgb(0, 94, 255);
    border-radius: 15px;
}

.fa-sharp{
    position: absolute;
    font-size: 30px;
    right: 0;
}
